body{
    background-color: rgb(97, 112, 124);
    font-family: 'Mukta', sans-serif;
}

.conteinerCategory, .Title, .categoryName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteinerCategory{
    margin: 10%;
}

.conteinerGalery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

   
}
.conteinerGalery img{
    display: flex;
    width: 20vw;
    height: 20vw;
    object-fit: contain;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding:  30px;
}



#root{
    position: absolute;
    width: 100%;
    top:100px;
}



#root input{
    width: 70vw;
    height: 3vh;
    font-size: 100%;

}

